@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans:400,300,300italic,400italic,600,600italic);

@import url(https://fonts.googleapis.com/css?family=Poiret+One|Indie+Flower|Shadows+Into+Light|Josefin+Sans:400,600,600italic,700,400italic|Architects+Daughter|Kaushan+Script|Rock+Salt|Shadows+Into+Light+Two);

/*

font-family: 'Poiret One', cursive;

font-family: 'Indie Flower', cursive;

font-family: 'Shadows Into Light', cursive;

font-family: 'Josefin Sans', sans-serif;

font-family: 'Architects Daughter', cursive;

font-family: 'Kaushan Script', cursive;

font-family: 'Rock Salt', cursive;

font-family: 'Shadows Into Light Two', cursive;

*/
@import url(https://fonts.googleapis.com/css?family=Cookie);
/* font-family: 'Cookie', cursive; */

/* =============================================================================
 The Body
============================================================================= */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    margin: 0;
    font-family: 'Poiret One', cursive;
    background-color: black;
}

#home_page {
    top:0;
    left:0;
    width:100%;
    height:100%;
    min-height: 100%;
    position: relative;
}
#about_page, #portfolio_page, #contact_page, #random_page {
    top:0;
    left:0;
    width:100%;
    height:100%;
    min-height: 100%;
    position: relative;
/*
    position:fixed;
    display:none;
*/
}

#home_page {
    z-index: 5;
}

#about_page, #portfolio_page, #contact_page, #random_page {
    z-index: 10;
}

h3, h2 {
    color: white;
}


/**----- Aligning Divs ---------**/
.center-h {
    left: 50%;
    transform: translate(-50%, 0%);
     position: absolute;
}

.center-v {
    top: 50%;
    transform: translate(0%, -50%);
     position: absolute;
}

.center-c {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/*Parallax*/
#scene {
    height: 100%;
    width: 100%;
    margin: 0;
}

.layer {
    height: 700px;
    width: 700px;
    position: fixed;
}

#large_circles, #small_shapes, #content, #title {
/*    position: absolute;*/
/*    top: 30%;*/

}


/*============================================================================= */

/*--- HOME PAGE ----*/
#home_page {
    overflow: hidden;
}

#sides, #home-content {
    height: 100%;
}





/*------------------------------------------------------------------------- */
/*HOVER EFFECTS*/
/* Pausing Animation on hover */
#about:hover, #portfolio:hover, #contacts:hover, #random:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
}

.small.circle {
    width: 0rem;
    height: 0rem;
}
.small.squircle, .small.circle {

}

/*First Letters*/
#about div h2, #portfolio div h2, #contacts div h2, #random div h2  {
    height: 20px;
}

/*The rest of the letters*/
#about div p, #portfolio div p, #contacts div p, #random div p {
    height: 7rem;
    width: 7rem;
    font-size: 1.5rem;
    top: .5rem;
    padding-top: .5em;
}

#about div p {
    padding-left: 1.35em;
    color: rgba(37, 172, 162, 0.75);
}

#portfolio div p {
    padding-left: .8em;
    color: rgba(235, 67, 35, 0.75);
}

#contacts div p {
    padding-left: 1em;
    color: rgba(95, 33, 203, 0.75);

}

#random div p {
    padding-left: .9em;
    color: rgba(208, 57, 159, 0.75);
}

#about div p:hover, #about div p:active, #portfolio div p:hover, #contacts div p:hover, #random div p:hover {
    height: 30px;
    color: #fff;
    top: 2.7rem;
    transition: all 0.6s ease;
}

#about:hover, #portfolio:hover, #contacts:hover, #random:hover{
    width: 7em;
    height: 7em;
    top: calc(50% - 27em);
    transform-origin: 50% 27em;
    transition: all 0.6s ease;

}


/*============================================================================= */
/*popup divs*/

.cancel {
    display:block;
    position:absolute;
    top:3px; right:2px;
    background:rgb(245,245,245);
    color:black;
    height:30px;
    width:35px;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
}

#about_page:target {
    display:block;
    opacity:2;
}

#portfolio_page:target {
    display:block;
    opacity:2;
}

#contact_page:target {
    display:block;
    opacity:2;
}

#random_page:target {
    display:block;
    opacity:2;
}

/*Circle Div*/
.sqDiv {
    height: 730px;
    width: 730px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 3px;
}


/*Div Animations*/

#about-sq, #portfolio-sq, #contact-sq, #random-sq {
    -webkit-animation:
        pulse 3s linear 0s infinite
    animation:
        pulse 3s linear 0s infinite
}

/*============================================================================= */

/*--- ABOUT PAGE ----*/

#about_page {
    background-color:black;
/*    opacity:0.6;*/

}

.container {
    height: 100%;
    margin: 0;
}

#about-sq {
    background-color:rgba(37, 172, 162, 0.75);
}

/*--- Content ----*/
#mid-row {
    height: 300px;
    width: 500px;
    top: 200px;
}

#mid-row .s2, #mid-row .s8 {
    height: 100%;
}


#aboutme {
    text-align: center;
    border: thin solid #8c4646;
}

#aboutme-content p {
    font-size: 1.6em;
/*    font-weight: bold;*/
    color:white;
}


/*============================================================================= */

/*--- PORTFOLIO PAGE ----*/

#portfolio_page {
    background-color:black;
}

#portfolio-sq {
    background-color:rgba(235, 67, 35, 0.75);
}

#portfolio-title, #portfolio-content {
    margin-left: 3px;
    top: 40px;
    position: relative
}

#portfolio-title {
    width: 300px;
    height: 80px;
    position: relative;
    text-align: center;
    border: thin solid #8c4646;

}

#portfolio-content {
    width: 100%;
}
#portfolio-content p {
    position: relative;
    width: 120px;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

#portfolio-content .row {
    height: 100px;
    width: 330px;
    position: relative;
    top: 10%;
    margin-left: 3px;

}

#portfolio-content .row .s4 {
    position: relative;
    height: 100%;
    width: 100px;
    display: block;
    border-radius: 30%;
    border-color: aliceblue;
    border-style: solid;
    border-width: thin;
    margin-right: 10px;
}

#InsideOut {
    background-color: aliceblue;
}

#InsideOut p{
    color: coral;
    font-weight: bold;
}

#portfolio-content .row .s4 p{
    width: 100%;
    top: 25%;
    font-size: .9rem
}





/*============================================================================= */

/*--- CONTACTS PAGE ----*/

#contact_page {
    background-color:black;
}

#contact-sq {
    background-color:rgba(95, 33, 203, 0.75);
}

#contact-title {
    width: 300px;
    height: 80px;
    position: relative;
    text-align: center;
    border: thin solid #8c4646;
    top: 160px;

}

#contact-content {
    top: 180px;
    position: relative;

}


/*============================================================================= */

/*--- RANDOM PAGE ----*/

#random_page {
        background-color:black;
}

#random-sq {
        background-color:rgba(208, 57, 159, 0.75);
}

