/*The circles*/

.circle, .squircle {
  border-top: 0.1em solid rgba(255,255,255,0.4);
  height: 12em;
  position: absolute;
  width: 12em;
}


.circle {
  border-radius: 50%;
  box-shadow: 0 1em 2em rgba(0,0,0,0.5);
  left: calc(50% - 6.25em);
  top: calc(50% - 14em);
  transform-origin: 50% 14em;
}

/*When you rotate an object in HTML using a transform, it rotates around a point called the transform-origin.
Let’s add the CSS to position each of these circles. */

.one {
  background: rgba(16, 63, 236, 0.75);
  transform: rotateZ(225deg);
}
.two {
  background: rgba(37, 172, 162, 0.75);
  transform: rotateZ(180deg);
}
.three {
  background: rgba(233, 124, 32, 0.75);
  transform: rotateZ(135deg);
}
.four {
  background: rgba(235, 67, 35, 0.75);
  transform: rotateZ(90deg);
}
.five {
  background: rgba(190, 28, 65, 0.75);
  transform: rotateZ(45deg);
}
.six {
  background: rgba(208, 57, 159, 0.75);
  transform: rotateZ(0);
}
.seven {
  background: rgba(150, 32, 198, 0.75);
  transform: rotateZ(-45deg);
}
.eight {
  background: rgba(95, 33, 203, 0.75);
  transform: rotateZ(-90deg);
}

/*The smaller Circles*/

.squircle {
  border-radius: 25%;
}

.small {
  width: 4em;
  height: 4em;
  left: calc(50% - 2em);
  top: calc(50% - 20em);
  transform-origin: 50% 20em;
  box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.2);
}

/*By using the same transform-origin trick, the rotate transforms from earlier will put them into the correct position without need for any more CSS.*/

.small.squircle {
  background: none;
  border: none;
  box-shadow: none;
}

/*
.small.squircle::after {
  background: red;
  border-radius: 25%;
  box-shadow: -0.25em 0.25em 0.5em rgba(0,0,0,0.2);
  content: "";
  height: 100%;
  position: absolute;
  transform: rotateZ(-45deg);
  width: 100%;
}
*/

.small.squircle.two {
  background: rgba(37, 172, 162, 0.75);
}
.small.squircle.four {
  background: rgba(235, 67, 35, 0.75);
}
.small.squircle.six {
    background: rgba(95, 33, 203, 0.75);
}
.small.squircle.eight {
  background: rgba(208, 57, 159, 0.75);
}

.large.squircle {
  background: rgba(30, 7, 66, 0.65);
  border: none;
  height: 12em;
  width: 12em;
  left: calc(50% - 6em);
  position: absolute;
  top: calc(50% - 6em);
  transform: none;

}

.large.squircle.one {
  transform: rotateZ(45deg);
}

.large.squircle.two  {

}
.large.squircle.two div {
    height: 50px;
    margin-top: 30%;
    color:azure;
}

.large.squircle.two div h3 {
    font-size: 2em;
}

.small.squircle {}

.small.squircle div {

}

.small.squircle div a h2 {
    font-size: 2em;
    margin-top: 20%;
}

#about h2, #portfolio h2, #contacts h2, #random h2 {
    font-size: 2em;
    margin-top: 20%;

}

#SmallShapes{
    z-index: 15;
}

#large_circles, #small_shapes, #content, #title {
  position: absolute;
/*  top: 30%;*/

}

/*============================================================================= */

/*ROTATING THE CIRCLES*/
/*First we position these span elements so that they don’t break the layout.*/
span {
  display: block;
  height: 20em;
  left: calc(50% - 10em);
  position: absolute;
  top: calc(50% - 10em);
  width: 20em;
}

/*Next we will apply animations to each of these three span elements.*/
/*    animation:name duration timing-function delay iteration-count direction fill-mode play-state*/

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes antispin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes unhide {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  25% {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: hidden;
    opacity: 0;
  }
  75% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

#title {
     -webkit-animation:rotateIn 4s ease;
}

#content {
    -webkit-animation:
        spin 30s ease infinite;
    animation:
        spin 30s ease infinite;
}

#large_circles {
    -webkit-animation:
        spin 20s linear infinite;
    -animation:
        spin 20s linear infinite;
}

/*Small circles transitions*/
#about, #portfolio, #contacts, #random {

}


#about{
    -webkit-animation:
        unhide 3s ease-in,
        antispin 40s linear 2s infinite;
    animation:
        unhide 3s ease-in,
        antispin 40s linear 2s infinite;
}

#portfolio {
    -webkit-animation:
        unhide 16s ease-in,
        antispin 40s linear 13s infinite;
    animation:
        unhide 16s ease-in,
        antispin 40s linear 13s infinite;
}

#contacts {
    -webkit-animation:
        unhide 31s ease-in,
        antispin 40s linear 27s infinite;
    animation:
        unhide 31s ease-in,
        antispin 40s linear 27s infinite;
}

/*
#random {
    -webkit-animation:
        unhide 41s ease-in,
        spin 40s linear 35s infinite;
    animation:
        unhide 41s ease-in,
        spin 40s linear 35s infinite;
}
*/
