
@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans:400,300,300italic,400italic,600,600italic);

@import url(https://fonts.googleapis.com/css?family=Poiret+One|Indie+Flower|Shadows+Into+Light|Josefin+Sans:400,600,600italic,700,400italic|Architects+Daughter|Kaushan+Script|Rock+Salt|Shadows+Into+Light+Two);

/*

font-family: 'Poiret One', cursive;

font-family: 'Indie Flower', cursive;

font-family: 'Shadows Into Light', cursive;

font-family: 'Josefin Sans', sans-serif;

font-family: 'Architects Daughter', cursive;

font-family: 'Kaushan Script', cursive;

font-family: 'Rock Salt', cursive;

font-family: 'Shadows Into Light Two', cursive;

*/
@import url(https://fonts.googleapis.com/css?family=Cookie);
/* font-family: 'Cookie', cursive; */

/* =============================================================================
 The Body
============================================================================= */
/**/

html, body {
    font-family: 'Poiret One', cursive;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
}

.all_content {
    width: 100%;
    height: 100%;
}

ol, ul {
  list-style: none;
}

#home-page, #about-page, #portfolio-page, #contacts-page {
    height: 100%;
    min-height: 800px;
    width: 100%;
}

.container {
    height: 100%;
    margin: 0;
    border-right-color: #588c7e;
    border-right-style: solid;
    border-right-width: thin;

}

h3 {
    font-size: 2.2rem;
}

h3 span {
    font-size: 1.9rem;
}

p {
    font-size: 1.2rem;
}

/**----- Aligning Divs ---------**/
.center-h {
    left: 50%;
    transform: translate(-50%, 0%);
     position: absolute;
}

.center-v {
    top: 50%;
    transform: translate(0%, -50%);
     position: absolute;
}

.center-c {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/*____________________________________________________________
-------------------------------------------------------------- */
/*------- NAV-BAR ----------*/
.nav-top {
    width: 100%;
    height: 61px;
    background-color: black;
    z-index: 1000;
    position: fixed;

    -webkit-filter: opacity (0.2);
    filter: opacity (0.2);
}

.nav-top a {
    color: #fff;
    font-size: .9rem;
}

/*--- logo - left ---*/

#nav-logo, .s2 {
    text-align: center;
}

#nav-logo a {
   margin-top: 23px;
}


/*--- menu - center ---*/
#nav-menu {
    width: 100%;
    height: 100%;
}

#nav-menu div {
    background-color: black;
    height: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 23px;
}

#nav-menu #home { width: 45px; }

#nav-menu #about { width: 60px }

#nav-menu #portfolio { width: 90px; }

#nav-menu #contact { width: 70px; }

#nav-menu.active {
    background-color: #588c7e;
    color: #000;
    font-weight: bold;
}


/*____________________________________________________________
-------------------------------------------------------------- */
/*----------------- HOME PAGE --------------*/

#home-page {

}

#home {
    height: 100%;
    background-color: black;
}

/*------------ The photo(s) ------------*/
#home_content {
    width: 100%;
    height: 60%;
    left: 12px;
    margin-top: 10%;
    position: relative;
    display:inline-block;
}

#home_content .s6 {

}


#one {
    width: 340px;
    height: 100%;
    overflow: hidden;
    margin-right: auto;
    background-color: #000;
}

#one img {
    max-height:100%;
}

/*------------ Logo ------------*/
#logo_content {
    width: 100%;
    height: 70px;
    margin-top:20px;
    left: 12px;
    position: relative;
    display:inline-block;
}

#logo.s4 {
    height: 100%;
    text-align: center;
    border: thin solid white;

}

#logo a {
    top: -14px;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
}

#logo a:hover {
    color: #588c7e;
}

/*____________________________________________________________*/
/*---mobile ---*/

@media (max-width: 600px) {
    h3 {
        font-size: 1rem;
    }
    h3 span {
        font-size: .9rem;
    }
    p {
        font-size: .9rem;
    }

    #home_content {
    margin-top: 60px;
    }

    #home_content .s4.photo {
        width: 55%;
        left: 50%;
        transform: translate(-50%, 0%);
        position: absolute;
    }

    #logo_content {
        width: 100%;
        height: 50px;
        margin-top:20px;
        left: 12px;
        position: relative;
        display:inline-block;
    }

    #logo.s4 {
        height: 100%;
        width: 50%;
        margin-left: 25%;
        text-align: center;
        border: thin solid white;
    }

    #logo a {
        left: 50%;
        position: absolute;
    }
}

/*____________________________________________________________
-------------------------------------------------------------- */

/*----------------- PAGE 2: ABOUT PAGE --------------*/
#about-page {
    background-color: white;
}

/*------- About content ----------*/
#about-content {
    position: relative;
    background-color: white;
    color: #8c4646;
    height: 100%;
}

#top-row, #mid-row, #bottom-row {
    position: absolute;
    width: 100%;
    left: 12px;
}

.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8 {
    height: 100%;
}

#mid-row .s6 {
 border-top: thin solid #588c7e;
}

#mid-row .s6, #bottom-row .s6 {
    border-right: thin solid #588c7e;
}

#bottom-row .s6 {
     border-bottom: thin solid #588c7e;
}

#bottom-row .s6, #mid-row .s6 {
    border-left: thin solid #588c7e;
}

#top-row {
    height: 20%;
    top: 10%;
}

#top-row .s4 {
    height: 354%;
    position: relative;
    overflow: hidden;
    z-index: 100;
}

#top-row .s4 img {
    width: 100%;
}


/*--- Content ----*/
#mid-row {
    height: 50%;
    top: 35%;
}

#mid-row .s6 {
    padding-top: 10%;
    text-align: center;
}


#aboutme {
    text-align: center;
    border: thin solid #8c4646;
}

#bottom-row {
    height: 10%;
    top: 85%;
}
/*____________________________________________________________
-------------------------------------------------------------- */

/*----------------- PAGE 3: PORTFOLIO --------------*/

#portfolio-page {
    top: -10%;
    background-color: #588c7e;
}

/*------- A content ----------*/

#portfolio-content {
    height: 100%;
    background-color: #588c7e;
    color: #8c4646;
    border-right-color: #8c4646;
}

#portfolio-content .s3 {
    height: 100%;
/*
    border: width, style color;
    border-top: thin solid black;
    border-right: thin solid black;
    border-left: thin solid black;
    border-bottom: thin solid black;
*/
}

#ptop-row, #myworks, #pbottom-row {
    position: relative;
    width: 100%;
    left: 12px;
}

#myworks {
    top: 10%;
    margin-top: 100px;
    text-align: center;
    border: thin solid white;
    color: black;
}

#ptop-row, #pbottom-row {
    height: 35%;
}

#ptop-row {top: 12%;}

#pbottom-row {top: 2%}


#ptop-row .s3, #pbottom-row .s3 {
    width: 25%;
    display: inline-block;
}

/*-- photos ---*/
.section-image {
    height: 100%;
    width: 270px;
}

.section__content {
    height: 100%;
}

.card { /** The photo **/
  background-color: black;
  width: 100%;
  height: 100%;

}

.card__front, .card__back {
    position: relative;
}

img.card__text {
    left: 0%;
}
.card__front a, .card__back a {
    color: white;
    font-size: 3.5rem;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
}


/*____________________________________________________________
-------------------------------------------------------------- */
/*----------------- CONTACTS --------------*/

#contacts-page {
    background-color: white;
}

#contacts-content {
    color: #8c4646;
}

#small-container {
    height: 100%;
    width: 700px;
    left: 50%;
}


#talk-to-me {
    top: 100px;
    width: 100%;
    left: 12px;
    position: relative;
    text-align: center;
    border: thin solid #8c4646;
    color: black;
}

form {
    top: 120px;
    height: 400px;
    position: relative;
    border: thin solid #8c4646;
    color: black;
}

#form-names, #form-email {
    height: 70px;
    padding-top: 50px;
}

.s3 {
    height: 100%;

}

#form-feedback {
    height: 250px;
}
