
@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans:400,300,300italic,400italic,600,600italic);

@import url(https://fonts.googleapis.com/css?family=Poiret+One|Indie+Flower|Shadows+Into+Light|Josefin+Sans:400,600,600italic,700,400italic|Architects+Daughter|Kaushan+Script|Rock+Salt|Shadows+Into+Light+Two);

/*

font-family: 'Poiret One', cursive;

font-family: 'Indie Flower', cursive;

font-family: 'Shadows Into Light', cursive;

font-family: 'Josefin Sans', sans-serif;

font-family: 'Architects Daughter', cursive;

font-family: 'Kaushan Script', cursive;

font-family: 'Rock Salt', cursive;

font-family: 'Shadows Into Light Two', cursive;

*/
@import url(https://fonts.googleapis.com/css?family=Cookie);
/* font-family: 'Cookie', cursive; */

/* =============================================================================
 The Body
============================================================================= */
/**
 * Sections
 *
 * Some sections to define card content areas.
 */


html, body {
    font-family: 'Poiret One', cursive;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
}

.all_content {
    width: 100%;
    height: 100%;
}

.container {
    color: white;
    height: 100%;
    width: 100%;
}

ol, ul {
  list-style: none;
}

/*____________________________________________________________
-------------------------------------------------------------- */

/*----------------- Home Page --------------*/
#top {
    width: 100%;
    height: 100%;
    background-color: black;
}

#home_content {
    width: 80%;
    height: 60%;
    margin-left: 10%;
    margin-top: 10%;
    position: relative;
    display:inline-block;
}

#logo_content {
    width: 80%;
    height: 20%;
    margin-left: 10%;
    position: relative;
    display:inline-block;
}

.s3, .s4 {
    height:  100%;

}

/*------------ Logo ------------*/
#logo {
    height: 100%;
    position: relative;
    background-color: transparent;
}

#logo .btn-large {
    font-family: 'Rock Salt', cursive;
    font-size: 1.3rem;
    background-color: transparent;
    height: 80%;
}

#logo .btn-large:hover {
    color: #26a69a;
}

/*------------ The photo(s) ------------*/
#flip_photo {
    margin-top:0;
    width: 50%;
    height: 100%;
    text-align: center;

}
.card { /** The photo **/
  background-color: black;
/*  position: absolute;*/
  float: left;
  width: 100%;
  height: 100%;

}
.section__content {
    width: 100%;
    height: 100%;
}


/*____________________________________________________________
-------------------------------------------------------------- */

/*----------------- PAGE 2: ABOUT PAGE --------------*/
#about {
    background-color: white;
    height: 100%;
    width: 100%;
}

/*------- PAGE 2: About NavBar ----------*/
.nav-top {
    height: 50px;
    width: 100%;
    color: #8c4646;
    background-color: #588c7e;

    -webkit-filter: opacity (0.7);
    filter: opacity (0.7);
}

.nav-top a, .nav-top div a {
    font-family: 'Cookie', cursive;
    font-size: 1.2em;
    margin-top: 9px;

}

#nav-logo, .s2 {
    width: 20%;
    height: 100%;
    padding-left: 7%
}

#nav-menu {
    width: 80%;
    height: 100%;
}

#nav-menu div {
    height: 100%;
    text-align: center;
    display: inline-block;
}

#nav-menu #top { width: 10%; }

#nav-menu #about { width: 14%; }

#nav-menu #portfolio { width: 20%; }

#nav-menu #contact { width: 16%; }


#nav-menu div div a {
    margin-top: 9px;
}

.active {
    background-color:
}

/*------- PAGE 2: About content ----------*/
#about-content {
    background-color: white;
    color: #8c4646;

}
