/*Animations*/

/*birdrock */

@keyframes birdrock {
    0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(25deg);
    }
    50% {
        transform: rotateZ(0)
    }
    75% {
        transform: rotateZ(25deg)
    }

    100% {
        transform: rotateZ(0);
    }
}

/*bird Bounce Animation*/

@keyframes bird-bounce {
    0% {transform: translateY(0);}
    25% {transform: translateY(15px);}
    75% {transform: translateY(-15px);}
    100% {transform: translateY(0px);}

}

@-webkit-keyframes bird-bounce {
    0% {-webkit-transform: translateY(0);}
    25% {-webkit-transform: translateY(15px);}
    75% {-webkit-transform: translateY(-15px);}
    100% {-webkit-transform: translateY(0px);}
}

/*cloud Bounce Animation*/

@keyframes cloud-bounce {
    0% {transform: translateY(0);}
    25% {transform: translateY(5px);}
    75% {transform: translateY(-5px);}
    100% {transform: translateY(0px);}

}

@-webkit-keyframes cloud-bounce {
    0% {-webkit-transform: translateY(0);}
    25% {-webkit-transform: translateY(5px);}
    75% {-webkit-transform: translateY(-5px);}
    100% {-webkit-transform: translateY(0px);}
}



/*============================================================================= */

/*The Decorations*/

/*-------------------------------------------------------*/
/*Clouds*/

#clouds {
    width: 350px;
    height: 300px;
    position: absolute;
    z-index: 30;
}

.cloud-menu, .cloud-text, .cloud2, .cloud3 {
    position: relative;
}

.cloud-menu { /*cloud1 and cloud-text*/
    width: 300px;
    height: 170px;
    margin-left: 10%;
    margin-top: 20%;

    z-index: 100;

    -webkit-animation:
        unhide 4s linear,
        cloud-bounce 6s linear 4s infinite;
    animation:
        unhide 4s linear,
        cloud-bounce 6s linear 4s infinite;

}
.cloud1 {
    width: 300px;
    z-index: 40;
}

.cloud-text {
    height: 100px;
    width: 100px;
    margin-top: -140px;
    margin-left: 110px;
    text-align: center;
    z-index: 100;

    padding-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}


.cloud2 {
    width: 200px;
    margin-top: 5%;
/*    margin-bottom: 40%;*/

    margin-left: 0%;
    z-index: 39;

     -webkit-animation:
        cloud-bounce 4s linear infinite;
    animation:
        cloud-bounce 4s linear infinite;

}
.cloud3 {
    width: 200px;
    margin-top: 30%;

    margin-left: -20%;
    z-index: 38;

     -webkit-animation:
        unhide 2s linear,
        cloud-bounce 3s linear 2s infinite;
    animation:
        unhide 2s linear,
        cloud-bounce 3s linear 2s infinite;

}

/*
#cloud4 {
    width: 200px;
    margin-top: -150%;
    margin-bottom: 0%;
    margin-left: 0%;
    z-index: 38;
}
*/

/*-------------------------------------------------------*/
/*Birds*/

#birds {
    position: relative;
    width: 980px;
    height: 750px;
}

.bird {
    width: 100px;

}

#bird1, #bird2, #bird3, #butterfly {
    width: 100px;
    height: 100px;
    position: absolute;
}

#bird1 {
    top: 200px;
    left: 30px;


    -webkit-animation:
        unhide 9s ease-in,
        bird-bounce 4s linear 8s infinite;
    animation:
        unhide 9s ease-in,
        bird-bounce 4s linear 8s infinite;
}

#butterfly {
    top: 460px;
    left: 900px;

    -webkit-animation:
        unhide 5s ease-in,
        birdrock 1s linear 4s infinite;
    animation:
        unhide 5s ease-in,
        birdrock 1s linear 4s infinite;
}

#butterfly img {
    width: 35px;

}


#bird2 {
    top: 300px;
    left: 970px;

    -webkit-animation:
        unhide 13s linear,
        bird-bounce 2s linear 13s infinite;
    animation:
        unhide 13s linear,
        bird-bounce 1.7s linear 13s infinite;
}
#bird2 img {
    width: 200px;

}

#bird3  {
    top: 100px;
    left: 660px;

    -webkit-animation:
        birdrock 10s linear infinite;
    animation:
        birdrock 10s linear infinite;
}

/*
#bird3 img {
    width: 150px;
    height: 130px;
}
*/




