/*Parallax*/

/*------------ Parallax ------------*/
#scene {
    height: 100%;
    width: 100%;
    margin: 0;
}

.layer {
    position: fixed;

}

.circles-layer {
    height: 700px;
    width: 700px;
    position: fixed;
    margin-top: 5%

}

.cloud-layer {
    width: 350px;
    height: 300px;
    position: fixed;


}

#cloud-menu-layer {
    z-index: 1000;
}

