@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans:400,300,300italic,400italic,600,600italic);

@import url(https://fonts.googleapis.com/css?family=Poiret+One|Indie+Flower|Shadows+Into+Light|Josefin+Sans:400,600,600italic,700,400italic|Architects+Daughter|Kaushan+Script|Rock+Salt|Shadows+Into+Light+Two);

/*

font-family: 'Poiret One', cursive;

font-family: 'Indie Flower', cursive;

font-family: 'Shadows Into Light', cursive;

font-family: 'Josefin Sans', sans-serif;

font-family: 'Architects Daughter', cursive;

font-family: 'Kaushan Script', cursive;

font-family: 'Rock Salt', cursive;

font-family: 'Shadows Into Light Two', cursive;

*/
@import url(https://fonts.googleapis.com/css?family=Cookie);
/* font-family: 'Cookie', cursive; */

/* =============================================================================
 The Body
============================================================================= */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    margin: 0;
    font-family: 'Poiret One', cursive;
    background-color: black;
}

#home_page, #about_page {
    height: 100%;
    width: 100%;
    min-height: 800px;
/*    position: fixed;*/
}


h3, h2 {
    color: white;
}

/**----- Aligning Divs ---------**/
.center-h {
    left: 50%;
    transform: translate(-50%, 0%);
     position: absolute;
}

.center-v {
    top: 50%;
    transform: translate(0%, -50%);
     position: absolute;
}

.center-c {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/*Parallax*/
#scene {
    height: 100%;
    width: 100%;
    margin: 0;
}

.layer {
    height: 600px;
    width: 700px;
    position: fixed;
}

#large_circles, #small_shapes, #content, #title {
/*    position: absolute;*/
/*    top: 30%;*/

}



/*============================================================================= */

/*--- HOME PAGE ----*/
#home_page {
    overflow: hidden;
}

#home_page .row {
    width: 100%;
    height:800px;
    display: block;
}

#sides {
    width: 5%;
    height: 100%;
}

#home_content {
    width: 90%;
    height: 100%;
}

.circle, .squircle {
  border-top: 0.1em solid rgba(255,255,255,0.4);
  height: 12.5em;
  position: absolute;
  width: 12.5em;
}


.circle {
  border-radius: 50%;
  box-shadow: 0 1em 2em rgba(0,0,0,0.5);
  left: calc(50% - 6.25em);
  top: calc(50% - 17em);
  transform-origin: 50% 17em;
}

/*When you rotate an object in HTML using a transform, it rotates around a point called the transform-origin.
Let’s add the CSS to position each of these circles. */

.one {
  background: rgba(16, 63, 236, 0.75);
  transform: rotateZ(225deg);
}
.two {
  background: rgba(37, 172, 162, 0.75);
  transform: rotateZ(180deg);
}
.three {
  background: rgba(233, 124, 32, 0.75);
  transform: rotateZ(135deg);
}
.four {
  background: rgba(235, 67, 35, 0.75);
  transform: rotateZ(90deg);
}
.five {
  background: rgba(190, 28, 65, 0.75);
  transform: rotateZ(45deg);
}
.six {
  background: rgba(208, 57, 159, 0.75);
  transform: rotateZ(0);
}
.seven {
  background: rgba(150, 32, 198, 0.75);
  transform: rotateZ(-45deg);
}
.eight {
  background: rgba(95, 33, 203, 0.75);
  transform: rotateZ(-90deg);
}

/*The smaller Circles*/

.squircle {
  border-radius: 25%;
}

.small {
  width: 4em;
  height: 4em;
  left: calc(50% - 2em);
  top: calc(50% - 22em);
  transform-origin: 50% 22em;
  box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.2);
}

/*By using the same transform-origin trick, the rotate transforms from earlier will put them into the correct position without need for any more CSS.*/

.small.squircle {
  background: none;
  border: none;
  box-shadow: none;
}

.small.squircle::after {
  background: red;
  border-radius: 25%;
  box-shadow: -0.25em 0.25em 0.5em rgba(0,0,0,0.2);
  content: "";
  height: 100%;
  position: absolute;
  transform: rotateZ(-45deg);
  width: 100%;
}

.small.squircle.two::after {
  background: rgba(37, 172, 162, 0.75);
}
.small.squircle.four::after {
  background: rgba(235, 67, 35, 0.75);
}
.small.squircle.six::after {
  background: rgba(208, 57, 159, 0.75);
}
.small.squircle.eight::after {
  background: rgba(95, 33, 203, 0.75);
}

.large.squircle {
  background: rgba(30, 7, 66, 0.65);
  border: none;
  height: 15em;
  width: 15em;
  left: calc(50% - 7.5em);
  position: absolute;
  top: calc(50% - 7.5em);
  transform: none;

}

.large.squircle.one {
  transform: rotateZ(45deg);
}

.large.squircle.two  {

}
.large.squircle.two h3 {
    height: 30px;
    top: 4.6em;
    color:azure;
}


/*ROTATING THE CIRCLES*/
/*First we position these span elements so that they don’t break the layout.*/
span {
  display: block;
  height: 20em;
  left: calc(50% - 10em);
  position: absolute;
  top: calc(50% - 10em);
  width: 20em;
}

/*Next we will apply animations to each of these three span elements.*/
/*    animation:name duration timing-function delay iteration-count direction fill-mode play-state*/

/*
#large_circles, #small_shapes, #content, #title {
   animation:
       spin .5s linear 0s 8,
        spin 1s linear 4s 3,
        spin 7s linear 7s 2,
        spin 14s ease 22s 1;
*/

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#title {
     -webkit-animation:rotateIn 3s ease;
}

#content {
    -webkit-animation:
        spin 30s ease infinite;
    animation:
        spin 30s ease infinite;
}

#large_circles {
    -webkit-animation:
        spin 20s linear infinite;
    -animation:
        spin 20s linear infinite;
}

#small_shapes {
    -webkit-animation:
        spin 40s linear infinite;
    animation:
        spin 40s linear infinite;
}




/*HOVER EFFECTS*/
.small_shapes:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
/*
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
*/

}

#about:hover {
    width: 7em;
    height: 7em;
    top: calc(50% - 30em);
    transform-origin: 50% 30em;
    transform: translate(50px,100px);
}

#about:selected {
    width: 7em;
    height: 7em;
    top: calc(50% - 30em);
    transform-origin: 50% 30em;
    transform: translate(50px,100px);
}


/*============================================================================= */

/*--- ABOUT PAGE ----*/

#about_page {
    background-color:rgba(37, 172, 162, 0.75);
}

#about_page .container {
    width: 1000px;
}
