/* div sections */
#main {
    color:dimgray;
    max-width: 600px;
    margin: 50px;
}
/* No Break */
.nobreak {
    display:inline;
}


/* heading 1 color */
h1 {
    margin: 50px auto;
    font-family: Georgia, serif;
    font-style: oblique;
    font-size: 40px;
    color:cadetblue;
}

/* link color */
a {
    font-family:fantasy;
    color:cadetblue;
}


/*aligning bottom centre*/
.bottom {
    font-size: 20px;
    position:fixed;
    bottom:0;
    width: 100%;
    text-align: center;
}

/*Image Background*/
.pic {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;
}
    
/* animation 

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

 */   
        
    